paper
presentation

.DS_Store
*.DS_Store
.ipynb_checkpoints
.vscode

*blx.bib
*.aux
*.bbl
*.blg
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.synctex.gz
*.snm
*.toc
*.bcf
*.fdb_latexmk
*.fls
*.brf

__pycache__/

.venv