final
presentation
models
data
# result.md

best_6layer.pth
best_6FER.pth
best_RAF_res.pth
*.pth

.DS_Store
*.DS_Store
.ipynb_checkpoints
.vscode
__pycache__

*blx.bib
*.aux
*.bbl
*.blg
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.synctex.gz
*.snm
*.toc
*.bcf
*.fdb_latexmk
*.fls
*.brf
